* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.idea {
  width: 75%;
  height: 10%;
  /* border: 1px solid black; */
  margin: 2em 0 5em 0;
}

.suggestion {
  font-size: 2em;
  text-align: center;
}
