body {
  background-color: blue;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  flex-direction: column;
}

.button,
.savedButton {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #000000;
  margin-top: 50px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  color: black;
  text-align: center;
  transition: all 0.15s;
  background: none;
  font-size: 24px;
}

.button:hover,
.savedButton:hover {
  color: grey;
  border-color: grey;
}

.hidden {
  display: none;
}

.saved {
  margin-top: 50px;
  color: white;
}

.colorBlock {
  height: 200px;
  width: 200px;
  border: 2px solid black;
}
/* 
.button {
   display: inline-block;
   padding: 0.5em 3em;
   border: 0.16em solid #ffffff;
   margin: 0 0.3em 0.3em 0;
   box-sizing: border-box;
   text-decoration: none;
   text-transform: uppercase;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #ffffff;
   text-align: center;
   transition: all 0.15s;
} */
